* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background: #333;
}

.middle {
  min-height: 100vh;
  padding-bottom: 500px;
}

.navbar {
  height: 6vh;
  background-color: hsla(200, 100%, 0%, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  backdrop-filter: blur(9px);
  border-bottom: solid 0.5px #666;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.content {
  font-size: 1.5em;
  color: #999;
  padding: 6vh 2em 10em 2em;
}

#nav-link {
  float: left;
  list-style-type: none;
  font-weight: 500;
}

#nav-link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

#nav-link a:hover:not(.active) {
  background-color: #111;
}

.active {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    128deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10px;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

.column {
  float: left;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
} 

.footer-info p{
  background-color: hsla(200, 100%, 0%, 0.4);
  backdrop-filter: blur(9px);
  border-top: solid 0.5px #666;
  text-align: center;
  color: whitesmoke;
  padding: 5vh;
}
 .main-image {
  background-image: url(/assets/data_center.jpeg)
 }


