* {
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  color: white;
  background: #222;
  padding: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: 100px 20vh;
  height: 850px;
  width: 100%;
}

.section-1 {
  background-image: url(/assets/Untitled-design.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  height: 5.5vh;
  background-color: hsla(200, 100%, 0%, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  backdrop-filter: blur(9px) brightness(55%);
  border-bottom: solid 0.5px #666;

  overflow: hidden;
  z-index: 3;
  text-align: center;
}

#nav-link {
  float: left;
  list-style-type: none;
}

#nav-link a {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-weight: 600;
}

#nav-link a:hover {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  transition: all ease 0.5s;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

#nav-link-sign-in {
  float: right;
  list-style-type: none;
}

#nav-link-sign-in a {
  color: white;
  padding-left: 10px;
  padding-right: 30px;
  text-decoration: none;
  font-weight: 600;
}

#nav-link-sign-in a:hover {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  transition: all ease 0.5s;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.header-logo {
  position: fixed;
  top: -6px;
  width: 65px;
  height: 65px;
  left: 920px;
}

.start-now-statment {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  font-weight: 800;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  color: white;
}

.start-now-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

.start-now-btn {
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  border: none;
  font-size: 25px;
  display: block;
  margin: auto;
  height: 50px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  color: #444;
  font-weight: 800;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.start-now-btn a {
  text-decoration: none;
}

.start-now-btn:hover {
  transform: scale(1.1, 1.1);
}

.section-2 {
  background: #111;
}

.sec2-title {
  font-size: 60px;
}

.highlight {
  background-image: url(/assets/Untitled-design.png);
  border-radius: 20px;
  color: #111;
}

.sec2-paragraph {
  text-align: center;
  font-size: 20px;
}

:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 220px;
  flex-direction: column;
  position: relative;
  width: 300px;
  top: 50px;
  margin: auto;

  bottom: 100px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  bottom: px;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h1,
h2,
h3,
h4,
span {
  color: rgb(240, 240, 240);
  font-weight: 600;
  margin: 0px;
}

i {
  color: rgb(240, 240, 240);
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
  top: 1000px;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }

  #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media (max-width: 500px) {
  .card {
    height: 180px;
  }

  .card-image {
    height: 80px;
  }

  .card-image > i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info > i {
    font-size: 0.8em;
  }

  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}

.section-3 {
  background: #222;
}

.section-4 {
  background: #222;
}

.section-1-faq {
  background-image: url(/assets/Untitled-design.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
}

.faq-heading {
  font-size: 40px;
}

.container {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item {
  background-color: #222;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
}

.accordion-link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #222;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 18px;
}

.accordion-link i {
  color: #e7d5ff;
  padding: 0.5rem;
}

.accordion-link .ion-md-remove {
  display: none;
}

.answer {
  overflow: hidden;
  max-height: 0;
  position: relative;
  background-color: #333;
  transition: max-height 650ms;
  border-radius: 10px;
}

.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #09c376;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
}

.answer p {
  font-size: 1rem;
  color: rgb(255, 255, 255, 0.6);
  padding: 1rem;
  text-align: left;
}

.accordion-item:target .answer {
  max-height: 10rem;
}

.accordion-item:target .accordion-link .ion-md-add {
  display: none;
}

.accordion-item:target .accordion-link .ion-md-remove {
  display: block;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.highlight1 {
  background-image: url(/assets/Untitled-design.png);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}